.profile-pic {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    img {
        padding:1px;
        border: 1px solid grey;
    }

    input {
        margin-top: 2rem;
        width: 200px;
        padding-left: 30px;
    }
}

.profile-header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    textarea {
        width: 200px;
        margin: auto;
    }
}

.profile-form {
    margin-top: 2rem;;
}

.about-me-section, .profile-header {
   width: 100vw;
   display: flex;
   flex-direction: column;
   align-items: center;

   
    div {
        text-align: end;
        margin-bottom: 1rem;
        
        label {
            display: inline-block;
            width: 100px;
            padding-right: 15px;
            vertical-align: top;
        }

        input, textarea {
            z-index: 1;
            width: 160px;
            margin-right: 55px;
        }
    }
}