.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #5E1096D5;
    align-items: center;
    height: 60px;
    color: white;

    .menu-icon {
        height: 30px;
        padding: 10px;
    }

    .var-header-icon {
        height: 40px;
        padding: 10px;
    }

    @media only screen and (min-width: 768px) {
        // to come...
    }
}